$color-white: white;
$color-dark: #374246;
$color-green: #39be78;
$color-light-dark: #6a7579;
$color-blue: rgb(57, 120, 190);
$color-red: rgb(190, 60, 20);
$color-teal: rgb(20, 150, 220);

$color-accent: $color-green;
$color-page-background: $color-white;
