@import "colors";
@import "progressbar";

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome and Opera */
}

.no-padding {
  padding: 0;
}
a.undecorated {
  text-decoration: none;
}
a {
  color: $color-accent;
}
a:visited {
}
a:hover {
  color: darken($color-accent, 15%);
}
a:active {
}
a.back-link {
  font-size: 42px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.7;
  color: $color-dark;
}

.module-animation {
  position: inherit;
}

.module-description {
  margin-top: 320px;
}

.zdog-canvas {
  position: absolute;
  display: block;
  left: 0;
  margin-top: 55px;
  width: 100%;
  height: 200px;
}

h1,
h2 {
  font-family: "Dosis", sans-serif;
  color: $color-dark;
}
h1 {
  font-size: 43px;
  line-height: 1.4;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 22px;
}
h2,
h3,
h4 {
  line-height: 1.5;
}

#headbar {
  height: 70px;
  margin-bottom: 80px;
  margin-top: 40px;
}
#logo-block {
  height: 100%;
}
#logo-block:before {
  content: "";
  display: inline-block;
  height: inherit;
  vertical-align: middle;
}

.collapsible-toggle {
  display: none;

  &:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
  }
  &:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  &:checked + .lbl-toggle {
    border-bottom-color: lighten($color-light-dark, 40%);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.lbl-toggle {
  display: block;
  padding: 5px 20px;
  border: 2px dotted $color-light-dark;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.25s ease-out;
  margin-bottom: 0;

  &:hover {
    color: $color-accent;
  }
  &::before {
    content: "";
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: 12px;
    transform: translateY(-2px);
    transition: transform 0.2s ease-out;
  }
}
.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;

  .content-inner {
    border: 2px dotted $color-light-dark;
    border-top: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 10px 20px;
  }
}

#sign {
  height: 46px;
  width: auto;
}
#lla {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  font-family: "Dosis", sans-serif;
  font-size: 34px;
  color: $color-dark;
}
#nav-block {
  position: relative;
  z-index: 1;
  height: inherit;
  font-family: "Dosis", sans-serif;
  font-size: 22px;
  color: $color-dark;
}
#nav-block a {
  color: inherit;
}
#nav-block:before {
  content: "";
  display: inline-block;
  height: inherit;
  vertical-align: middle;
}
#nav-block ul {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  font-size: 22px;
  width: 95%;
}
#nav-block li {
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  margin-left: 25px;
}
#nav-block li:nth-of-type(1) {
  margin-left: 0;
}
#nav-block .active-section {
  color: $color-accent;
}
#header-btn-subscribe {
  background-color: $color-accent;
  color: $color-white;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 20px;
  cursor: pointer;
}
#header-btn-subscribe:hover {
  text-decoration: underline;
}

#subsform-bg {
  position: absolute;
  display: none;
  z-index: -1;
  right: -30px;
  top: -10px;
  width: 350px;
  height: 160px;
  border-radius: 22px;
  overflow: hidden;
}
#subsform-bg div {
  position: absolute;
  width: 0;
  height: 0;
  right: -80px;
  top: -80px;
  border-radius: 300px;
  background-color: $color-dark;
  opacity: 0;
  transition: opacity 0.4s, width 0.4s, height 0.4s;
}

#subsform {
  position: absolute;
  opacity: 0;
  right: -10px;
  top: 60px;
  width: 290px;
  height: 80px;
  transition: 0.5s opacity;
}

#subsform button {
  font-family: "Open Sans", sans-serif;
}

div.badges {
  display: inline-block;
}

.module-badge {
  color: $color-dark;
  display: inline-block;
  border-radius: 8px;
  border: 3px $color-light-dark solid;
  padding: 4px 14px 4px 14px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  margin-left: 10px;
  display: inline-block;
  margin-bottom: 5px;
}
.module-badge:first-of-type {
  margin-left: 0px;
}
#module_header,
#lesson_header {
  margin-bottom: 60px;
}
.pre-badge-header {
  margin-right: 25px;
}
#module_contents > div {
  padding: 3px;
}

.module_tile {
  position: relative;
  height: 100%;
  padding: 30px;
  border-radius: 14px;
  color: $color-dark;
  border: 3px solid white;
  transition: border-color 0.2s;
}
.inactive_module > div {
  opacity: 0.5;
  transition: opacity 0.6s ease-in-out;
}
.inactive_module > div:hover {
  opacity: 0.6;
}
.module_tile:hover {
  border: 3px solid $color-accent;
}
.inactive_module:hover {
  border: 3px solid $color-page-background;
  cursor: auto;
}

.module_tile p {
  font-size: 17px;
}

.lesson_icon {
  width: 56px;
  max-height: 56px;
  margin-left: 6px;
}

#content-container,
#footer-container > .container-fluid {
  max-width: 1700px;
}

#footer-fundraise p {
  padding: 0 20%;
}

#footer-container {
  background-color: $color-dark;
}

#footer-block {
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-size: 18px;
}

ul.contacts_and_social,
ul.footer_links {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  vertical-align: middle;
}
ul.contacts_and_social li {
  display: inline;
  margin-right: 15px;
}
ul.footer_links li {
  display: inline;
  margin-right: 30px;
}
ul.contacts_and_social a {
  text-decoration: none;
}
.contacts_and_social img {
  max-height: 32px;
  max-width: 32px;
  opacity: 0.7;
}
.contacts_and_social img:hover,
.footer_links a:hover {
  opacity: 1;
  transition: 0.2s ease-in-out;
}
.footer_links a {
  color: white;
  opacity: 0.7;
}
#footer-block span {
  vertical-align: middle;
}
#footer-fundraise > div {
  padding: 30px;
  border-radius: 14px;
  margin-bottom: 30px;
  font-size: 80%;
}

#footer-fundraise {
  margin-top: 80px;
}

/* IE8 */
.is-last-step:after {
  display: none !important;
}

.dashed-message {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border: 1px dashed #cbcbcb;
  margin-top: 15px;
}

a[rel="license"] {
  margin-left: 10px;
}

a[rel="license"] img {
  margin-bottom: 2px;
}

.form-inline {
  padding-top: 20px;
  padding-bottom: 28px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.btn:focus {
  border-color: rgba(22%, 75%, 47%, 0.6);
  box-shadow: 0px 0px 0px 3px rgba(22%, 75%, 47%, 0.3);
  outline: 0 none;
}
.form-control::-webkit-input-placeholder {
  color: #879296;
}
.form-control:-moz-placeholder {
  color: #879296;
}
.form-control::-moz-placeholder {
  color: #879296;
}
.form-control:-ms-input-placeholder {
  color: #879296;
}
.form-control::-ms-input-placeholder {
  color: #879296;
}

.btn-grey {
  border-color: $color-dark;
  background-color: #576266;
  color: white;
}
.btn-grey:hover {
  color: white;
  background-color: $color-dark;
}

.btn-green {
  border-color: #33b872;
  background-color: $color-accent;
  color: white;
}
.btn-green:hover {
  color: white;
  background-color: #199e58;
}

.about-header p {
  padding: 0 22%;
}

#opensource .about-description {
  padding-right: 5%;
}

.about-description p,
#team .row p {
  color: $color-light-dark;
}

.about_introduction {
  margin-bottom: 50px;
}

#team img {
  width: 100%;
  margin-bottom: 14px;
}

#opensource img {
  width: 56px;
  max-height: 56px;
}

#opensource {
  margin-bottom: 40px;
}

#team > div > .row,
#opensource > div > .row {
  margin-top: 50px;
  margin-bottom: 50px;
}

#team > div > .row .row,
#opensource > div > .row .row {
  margin-top: 15px;
  margin-bottom: 30px;
}

#team h3,
#team p {
  width: 100%;
}

.teammember-social {
  position: absolute;
  margin-left: 16px;
  margin-top: 5px;
  list-style-type: none;
  padding: 0;
}
.teammember-social::before {
  content: "";
  position: absolute;
  background-color: $color-dark;
  border-radius: 16px;
  left: -10px;
  right: -2px;
  top: 2px;
  bottom: -4px;
  opacity: 0.1;
}
.teammember-social:hover:before {
  opacity: 0.5;
  transition: 0.2s ease-in;
}

.team-social-icon {
  vertical-align: middle;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  opacity: 0.9;
}
.tsi-facebook {
  background-image: url(/images/icons/facebook_outline_color.svg);
}
.tsi-instagram {
  background-image: url(/images/icons/instagram_outline_white.svg);
}
.tsi-twitter {
  margin-top: 4px;
  background-image: url(/images/icons/twitter_outline_white.svg);
}
.tsi-telegram {
  background-image: url(/images/icons/telegram_outline_white.svg);
}
.tsi-github {
  background-image: url(/images/icons/github_white.svg);
}

.blog-tile {
  margin-bottom: 28px;

  & img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 14px;
  }
  & span {
    content: "";
    position: absolute;
    background-color: black;
    color: $color-white;
    font-size: 16px;
    padding: 0px 14px 0px 14px;
    border-radius: 12px;
    right: 25px;
    top: 10px;
    opacity: 0.5;
  }
  & span:hover {
    opacity: 1;
    transition: 0.2s ease-in-out;
  }
  & a {
    color: inherit !important;
  }
  & h4 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 21px;
    line-height: 1.6;
  }
}

.picture-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}

.blogpost {
  margin-bottom: 80px;

  &-header {
    h1,
    .author-date {
      width: 100%;
    }
    h1 {
      padding-left: 15%;
      padding-right: 15%;
    }
    .author-date {
      padding-left: 10px;
      padding-right: 10px;
    }
    .picture-wrapper {
      margin-top: 15px;
      height: 200px;
      border-radius: 14px;
      overflow: hidden;
    }
    img {
      width: 100%;
      margin-top: -100px;
      min-width: 400px;
    }
  }
  h2,
  h3,
  h4 {
    margin-top: 35px;
    margin-bottom: 20px;
  }

  article {
    figure {
      text-align: center;
      margin: 3.5em 0px;

      img {
        max-width: 100%;
      }
    }
  }
}

/* < xl */
@media only screen and (min-width: 0px) and (max-width: 1200px) {
  #footer-block {
    font-size: 17px;
  }
  ul.footer_links li {
    margin-right: 25px;
  }
  .blogpost-header h1 {
    padding-left: 10px;
    padding-right: 15%;
  }
}

/* < lg */
@media only screen and (min-width: 0px) and (max-width: 992px) {
  ul.footer_links {
    display: block;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .about-header p {
    padding: 0 15%;
  }
  #footer-fundraise p {
    padding: 0 15%;
  }
  #team > div > .row,
  #opensource > div > .row {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

/* < md */
@media only screen and (min-width: 0px) and (max-width: 768px) {
  body {
    font-size: 17px;
  }
  h1 {
    font-size: 39px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
  }
  #nav-block ul {
    font-size: 21px;
    width: 98%;
  }
  #headbar {
    margin-bottom: 45px;
    margin-top: 35px;
  }
  .blogpost-header h1 {
    padding-right: 5%;
  }
  .blogpost-header img {
    margin-top: 0px;
  }
  .about-header p {
    padding: 0 5%;
  }
  .about_introduction {
    margin-bottom: 40px;
  }
  #team > div > .row,
  #opensource > div > .row {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  #module_header,
  #lesson_header {
    margin-bottom: 40px;
  }
  #footer-block {
    font-size: 16px;
  }
  #footer-fundraise p {
    padding: 0 5%;
  }
  #footer-fundraise {
    margin-top: 50px;
  }
  #subsform button {
    font-size: 15px;
  }
  .lesson_icon {
    width: 50px;
    max-height: 50px;
  }
  .module-badge {
    padding: 3px 12px 3px 12px;
  }
  .module_tile {
    padding: 25px 15px 25px 15px;
  }
  .module_tile p {
    font-size: 16px;
  }
}

/* < sm */
@media only screen and (max-width: 576px) {
  body {
    font-size: 16px;
    line-height: 1.66;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
  #nav-block ul {
    font-size: 20px;
  }
  #headbar {
    margin-bottom: 30px;
    margin-top: 35px;
  }
  #subsform button {
    font-size: 14px;
  }
  #subsform form input {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
  }
  #subsform-bg {
    height: 150px;
  }
  #module_header,
  #lesson_header {
    margin-bottom: 30px;
  }
  #footer-fundraise p {
    padding: 0 0%;
  }
  #footer-fundraise {
    margin-top: 40px;
  }
  #footer-fundraise div {
    padding: 10px;
  }
  #team > div > .row {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #opensource > div > .row {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .contacts_and_social img {
    max-height: 28px;
    max-width: 28px;
  }
  ul.contacts_and_social li {
    margin-right: 12px;
  }
  .about_introduction {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .lesson_icon {
    width: 40px;
    max-height: 40px;
    margin-left: 3px;
  }
  .module-badge {
    padding: 2px 10px 2px 10px;
  }
  .module_tile {
    padding: 20px 5px 20px 5px;
  }
  .module_tile p {
    font-size: 16px;
    line-height: 1.66;
  }
}

// /* Lessons */
// .lesson_text p {

// }
